#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Docker.
#
# Docker is an open platform for developing, shipping, and running applications.
# Docker enables you to separate your applications from your infrastructure so
# you can deliver software quickly. With Docker, you can manage your
# infrastructure in the same ways you manage your applications. By taking
# advantage of Docker’s methodologies for shipping, testing, and deploying code
# quickly, you can significantly reduce the delay between writing code and
# running it in production.
#
# See: https://wiki.archlinux.org/title/Docker#Installation

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

if ! check_binary "docker"; then
  run_as_root pacman -S --noconfirm --needed fuse-overlayfs docker docker-compose
  run_as_root yay -S --noconfirm --needed docker-desktop

  # Enables docker.socket
  run_as_root systemctl enable docker.socket

  # Adds user to docker group
  run_as_root usermod -aG docker "$USER"

  # Enable native overlay diff engine
  echo 'options overlay metacopy=off redirect_dir=off' | run_as_root tee /etc/modprobe.d/disable-overlay-redirect-dir.conf
  run_as_root modprobe -r overlay
  run_as_root modprobe overlay
fi
