#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs 1Password, the world’s most-loved password manager.
#
# See: https://support.1password.com/install-linux/#arch-linux

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

if ! check_binary "1password"; then
  run_as_root yay -S --noconfirm --needed 1password
fi
