#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Uninstalls packages that aren't needed on Arch Linux with GNOME.

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

# Remove unused packages.
