#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Pika Backup. Doing backups the easy way. Plugin your USB drive and let the Pika do the rest for you.

{{- template "work" . -}}
{{- template "shellscript" -}}

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install --user --assumeyes org.gnome.World.PikaBackup
