#!/usr/bin/env bash
# shellcheck disable=SC1009,SC1054,SC1056,SC1072,SC1073,SC1083

# Configures the udev rules for Android devices.
#
# See: https://wiki.archlinux.org/title/Android#Fastboot

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

run_as_root pacman -S --noconfirm --needed android-udev
