#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs 1Password, the world’s most-loved password manager.

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

readonly curr_dir="{{- .chezmoi.sourceDir -}}"
readonly tmp_dir="$(mktemp -d)"

cd "$tmp_dir" || script_exit "Unable to change directory!" 1

if ! check_binary "1password"; then
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | run_as_root gpg --dearmor --yes --output /usr/share/keyrings/1password-archive-keyring.gpg
  echo 'deb [arch=amd64 signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/amd64 stable main' | run_as_root tee /etc/apt/sources.list.d/1password.list
  run_as_root mkdir -p /etc/debsig/policies/AC2D62742012EA22
  curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | run_as_root tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
  run_as_root mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | run_as_root gpg --dearmor --yes --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
  run_as_root apt update && run_as_root apt install --assume-yes 1password 1password-cli
fi

# Cleanup
cd "$curr_dir" || script_exit "Unable to change directory!" 1
rm -rf "$tmp_dir"
