#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Setups Homebrew and installs packages from the Brewfile.

{{- template "shellscript" -}}

readonly curr_dir="{{- .chezmoi.sourceDir -}}"
readonly root_dir="{{- .chezmoi.workingTree -}}"

# Installs Homebrew if it's not already installed.
if [[ "$(uname)" == "Darwin" ]]; then
  if [[ ! -d /opt/homebrew ]]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || return 1
  fi
else
  if [[ ! -d /home/linuxbrew/.linuxbrew ]]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || return 1
  fi
fi

inject_homebrew

cd "$root_dir" || script_exit "Unable to change directory!" 1

# Install packages from the Brewfile.
brew bundle --verbose

# Cleanup
cd "$curr_dir" || script_exit "Unable to change directory!" 1
