#!/usr/bin/env bash
# shellcheck disable=SC1009,SC1054,SC1056,SC1072,SC1073,SC1083

# Custom configs for lm-sensors.
# See: https://wiki.archlinux.org/title/lm_sensors#Adjusting_values

{{- template "shellscript" -}}
{{- template "not-wsl" . -}}

readonly board_name="$(run_as_root dmidecode -s baseboard-product-name)"

if [[ $board_name == "TUF GAMING X570-PLUS (WI-FI)" ]]; then
  readonly configs_file="/etc/sensors.d/TUF-GAMING-X570-PLUS.conf"

  # With some recent Asus motherboards, fan and voltage sensor access may
  # require the following kernel parameter.
  # See: https://wiki.archlinux.org/title/Lm_sensors#Asus_H97/Z97/Z170/Z370i/X570/B550_motherboards
  verbose_print "Adding acpi_enforce_resources=lax to the kernel command line"
  if check_binary "kernelstub"; then
    run_as_root kernelstub -a 'acpi_enforce_resources=lax'
  else
    run_as_root tee /etc/default/grub.d/additional-parameters.cfg &>/dev/null <<'EOF'
GRUB_CMDLINE_LINUX_DEFAULT="${GRUB_CMDLINE_LINUX_DEFAULT} acpi_enforce_resources=lax"
EOF
  fi

  verbose_print "Applying custom configs to lm-sensors"
  run_as_root tee "$configs_file" &>/dev/null <<'EOF'
# nct6798 values for Asus TUF GAMING X570-PLUS (WI-FI)
# I'm not entirely sure everything here is correct since no HW monitoring
# application under Windows shows all the names for all the found sensors.
# Some of the names and formulas are best guesstimates and could be wrong.
# You will have to unignore fans if you want them to be monitored.
#
# See: https://github.com/lm-sensors/lm-sensors/blob/master/configs/Asus/TUF-GAMING-X570-PLUS.conf

chip "nct6798-*"

label in0 "Vcore"
  set in0_min 0.2
  set in0_max 1.5

label in2 "AVSB"
  set in2_min  3.3 * 0.95
  set in2_max  3.3 * 1.05

label in3 "3VCC"
  set in3_min  3.3 * 0.95
  set in3_max  3.3 * 1.05

label in4 "+12V"
  compute in4 @ * 12, @ / 12
  set in4_min  12 * 0.95
  set in4_max  12 * 1.05

label in6 "+5V"
  compute in6 @ * 5, @ / 5
  set in6_min  5 * 0.95
  set in6_max  5 * 1.05

label in7 "3.3V"
  set in7_min  3.3 * 0.95
  set in7_max  3.3 * 1.05

label in8 "Vbat"
  set in8_min  3.3 * 0.95
  set in8_max  3.3 * 1.05

# always shows a constant value after boot - either 0.272 or 0.288
ignore in10

# constant 0.544
ignore in11

# constant 1.032
ignore in12

label fan2 "CPU Fan"
  set fan2_min 200

# The X570 chipset is quite power hungry, so let's put 1000 in to be safe
label fan5 "CHA_FAN1"
  set fan5_min 1000

# Always show zeros
ignore temp8
ignore temp9
ignore temp10

# The motherboard doesn't seem to have them physically connected or present
ignore intrusion0
ignore intrusion1
EOF

  verbose_print "Setting configs file permissions"
  run_as_root chown -c root:root "$configs_file"
  run_as_root chmod -c 0644 "$configs_file"
fi
