#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Ensures the required base packages are installed before setting up the host.
#
# See: https://wiki.archlinux.org/title/general_recommendations

{{- template "shellscript" -}}

# Base packages needed by all machines.
run_as_root pacman -Syyu --noconfirm
run_as_root pacman -S --noconfirm --needed base-devel git yay

{{- template "not-wsl" . -}}

# Base packages for Arch Linux
run_as_root pacman -S --noconfirm --needed libgtop \
  gnome-tweaks

run_as_root yay -S --noconfirm --needed chrome-gnome-shell ttf-ms-win11-auto

{{- template "work" . -}}

# Evolution is needed for Exchange Calendar, Contacts, and Email support (only
# on abyss).
run_as_root pacman -S --noconfirm --needed evolution evolution-ews
