#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Nala. A frontend for apt(8).

{{- template "shellscript" -}}

if ! check_binary "nala"; then
  curl https://gitlab.com/volian/volian-archive/-/raw/main/install-nala.sh | bash
fi
