#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Visual Studio Code. Code editing. Redefined.

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

readonly curr_dir="{{- .chezmoi.sourceDir -}}"
readonly tmp_dir="$(mktemp -d)"

cd "$tmp_dir" || script_exit "Unable to change directory!" 1

if ! check_binary "code"; then
  curl -fsSL 'https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64' -o code_amd64.deb
  run_as_root apt install --assume-yes code_amd64.deb
fi

# Cleanup
cd "$curr_dir" || script_exit "Unable to change directory!" 1
rm -rf "$tmp_dir"
