#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Visual Studio Code. Code editing. Redefined.
#
# See: https://wiki.archlinux.org/title/Visual_Studio_Code

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

if ! check_binary "code"; then
  run_as_root yay -S --noconfirm --needed visual-studio-code-bin
fi
