#!/usr/bin/env bash
# shellcheck disable=SC1009,SC1054,SC1056,SC1072,SC1073,SC1083

# Post-install commands related to package install.

{{- template "shellscript" -}}

# Enables Docker rootless mode.
# See: https://docs.docker.com/engine/security/rootless/
run_as_root usermod -aG plugdev "$USER"
run_as_root usermod -aG docker "$USER"
