#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Thunderbird. A free and open source email, newsfeed, chat, and
# calendaring client.

{{- template "work" . -}}
{{- template "shellscript" -}}

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install --user --assumeyes org.mozilla.Thunderbird
