#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Ensures the required base packages are installed before setting up the host.

{{- template "shellscript" -}}

# Base packages needed by all machines.
run_as_root apt update
run_as_root apt full-upgrade --assume-yes
