#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs GitKraken. The legendary Git GUI client for Windows, Mac and Linux.

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install --user --assumeyes com.axosoft.GitKraken
