#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Keybase. Encrypt everything.
#
# See: https://wiki.archlinux.org/title/Keybase

{{- template "not-wsl" . -}}
{{- template "shellscript" -}}

if ! check_binary "keybase"; then
  run_as_root yay -S --noconfirm --needed keybase-bin
fi
