#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Beekeeper Studio. The SQL Editor and Database Manager Of Your Dreams.

{{- template "work" . -}}
{{- template "shellscript" -}}

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install --user --assumeyes io.beekeeperstudio.Studio
