# Project files

LICENSE
README.md

# Homebrew

Brewfile
Brewfile.lock.json

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ else if ne .chezmoi.os "macos" }}
.chezmoiscripts/macos/**
dot_config/ghostty/**
{{ end }}
