[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty

[submodule "dircolors"]
	path = fish/lib/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
	branch = develop
	ignore = dirty
