# Global Git configuration.
# See:
#   1. https://git-scm.com/docs/git-config

# machine-specific configuration
{{- if eq .chezmoi.hostname "TOWER" }}

[user]
  name = Rafael Julio
  email = development@rafifos.dev
  signingkey = A489BB8CA6648427C24EA0924C3BDB4F9ED719BA

{{- end }}

{{- if eq .chezmoi.hostname "abyss" }}

[user]
  name = Rafael Julio Lemos Silva
  email = rafael.silva@internationalschool.global
  signingkey =

# Enables commit signing using a SSH key.
[gpg]
  format = ssh

# Uses 1Password to sign commits.
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
{{- end }}

[include]
	path = .config/delta/themes/catppuccin.gitconfig

[core]
  # CRLF endings in Windows checkouts.
  # LF endings on Mac and Linux systems and in the repository.
  autocrlf = input

  # Retains the execution bit from files at checkout/commit.
  filemode = true

  # Text editor to be used on commands that launch a text editor.
  editor = hx

  # Use delta as the default pager.
  pager = delta

[init]
  defaultBranch = main

[status]
  # Show all untracked files by default.
  showUntrackedFiles = all

[pull]
  # Only allows pulls to use the fast-forward method.
  ff = only

[commit]
  # Template to be shown on the commit message prompt.
  template = ~/.gitcommittemplate

  # By default, signs commit with GnuPG.
  gpgSign = true

[merge]
  # Visual Studio Code 3-way merge editor as the default mergetool.
  tool = code
  conflictstyle = diff3

[mergetool "code"]
  # Visual Studio Code 3-way merge editor.
  # See: https://code.visualstudio.com/updates/v1_70#_command-line-option-merge
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[delta]
  features = catppuccin-frappe
  line-numbers = true
  side-by-side = true
  navigate = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
