all-the-package-names
cost-of-modules
npm
npq
postcss-html
prettier
pnpm
srcbook
stylelint
stylelint-config-clean-order
stylelint-config-html
stylelint-config-prettier
stylelint-config-standard
stylelint-prettier@^4.1.0
tldr
yarn

{{- if eq .chezmoi.hostname "TOWER" }}
cgx
{{- end }}

{{- if eq .chezmoi.hostname "IS-NOT-NB0286" }}
node-gyp
turbo
{{- end }}
