#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Docker.
#
# Docker is an open platform for developing, shipping, and running applications.
# Docker enables you to separate your applications from your infrastructure so
# you can deliver software quickly. With Docker, you can manage your
# infrastructure in the same ways you manage your applications. By taking
# advantage of Docker’s methodologies for shipping, testing, and deploying code
# quickly, you can significantly reduce the delay between writing code and
# running it in production.

{{- template "linux" . -}}
{{- template "shellscript" -}}

if ! check_binary "docker"; then
  verbose_print "docker install: STUB!"
fi
