#!/usr/bin/env bash
# shellcheck disable=SC1009,1036,SC1054,SC1056,SC1072,SC1073,SC1083

# Installs Rosetta 2 if not already installed.

{{- template "shellscript" -}}

softwareupdate --install-rosetta --agree-to-license
